body {
	font-family: sans-serif;
	background: #1A1A1A;
	color: #E4E4E4;
}

h3 {
	margin: 12px 0px 4px 0px;
}

button {
	margin-top: 4px;
	padding: 4px 8px;
	font-size: 14px;
	cursor: pointer;
	background: #F2911A;
	border: 2px outset #F2911A;
}

button:hover,
button:focus {
	background: #FFA02C;
	border: 2px outset #FFA02C;
}

button:active {
	background: #F2911A;
	border: 2px inset #F2911A;
}

a,
a:visited {
	color: #F2911A;
}

a:hover,
a:focus {
	color: #FFA02C;
}

/* programme page */
#media-list,
#selected-media {
	list-style-type: none;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	margin: 0px;
	padding: 4px;
	height: 80px;
	border: solid 1px #7A7A7A;
}

.media-item {
	display: inline-block;
	position: relative;
	width: 128px;
	height: 72px;
	text-align: center;
	padding: 4px;
}

.media-item img {
	display: inline-block;
	width: 128px;
	height: 72px;
	background: #000000;
	object-fit: scale-down;
}

.media-item button {
	display: none;
	position: absolute;
	top: 4px;
	right: 6px;
	margin: 0px;
	padding: 4px;
	background: transparent;
	border: none;
	cursor: pointer;
	color: #FFFFFF;
	text-shadow: 0 0 3px #000000;
	font-size: 10px;
	font-weight: bold;
}

.media-item button:hover {
	color: #FF0000;
	text-shadow: 0 0 1px #FFFFFF;
}

.media-item:hover button {
	display: block;
}

.media-item input.duration {
	display: block;
	position: absolute;
	bottom: 4px;
	left: 4px;
	right: 4px;
	width: 128px;
	padding: 6px;
	box-sizing: border-box;

	-moz-appearance: textfield;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0.4));
	border: none;
	color: #FFFFFF;
	text-align: center;
	text-shadow: 0 0 3px #000000;
	font-size: 10px;
	font-weight: bold;
	cursor: text;
	transition: 0.2s;
}

.media-item input.duration:hover,
.media-item input.duration:focus {
	outline: none;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6), rgba(0,0,0,0.8));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#drop-location {
	display: inline-block;
	width: 8px;
	height: 72px;
	background-color: #3AA2DB;
	margin-top: 4px;
	margin-right: 2px;
	margin-left: 2px;
}

#loading {
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(0,0,0,0.6);
	backdrop-filter: blur(4px);
	color: #FFFFFF;
	text-align: center;
	padding-top: 48px;
}

#loading::before {
	display: block;
	content: '';
	width: 48px;
	height: 48px;
	margin: 28px auto;
	border-radius: 50%;
	border-top: solid 6px #EA5C28;
	border-right: solid 6px #EA5C28;
	border-bottom: solid 6px transparent;
	border-left: solid 6px transparent;
	animation: spin 0.8s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* calendar page */
.glm-calendar {
	display: inline-block;
	padding: 8px;
}

.glm-calendar .month {
	border: solid #7A7A7A 1px;
}

.glm-calendar caption {
	padding: 4px;
	text-align: center;
	border: solid #7A7A7A 1px;
}

.glm-calendar .month .daynames td {
	border-bottom: solid #7A7A7A 1px;
}

.glm-calendar .month td {
	padding: 4px;
	width: 36px;
	text-align: center;
	border: solid 1px transparent;
}

.glm-calendar .month .week .day {
	cursor: pointer;
}

.glm-calendar .month .week .day.custom {
	background: #5caeda !important;
}

.glm-calendar .month .week .day.default-disabled {
	background: #E52A2D !important;
}

.glm-calendar .month .week .day.custom.default-disabled {
	background: #3AA2DB !important;
}

.glm-calendar .month .week .day:hover {
	background: #F2911A;
	border-color: rgba(0,0,0,0.5);
}

.prog-tooltip {
	display: block;
	position: fixed;
	background: #F2911A;
	padding: 4px;
	height: 71px;
	box-shadow: 0 0 4px #9c5906;
	border: solid 1px #9c5906;
	pointer-events: none;
	white-space: nowrap;
}

.prog-tooltip::before {
	content: '';
	position: absolute;
	display: block;
	width: 0px;
	left: 17px;
	bottom: 0;
	border: 7px solid transparent;
	border-bottom: 0;
	border-top: 7px solid #9c5906;
	transform: translate(14px, 100%);
}

.prog-tooltip small {
	display: block;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 15px;
	height: 15px;
	margin-bottom: 2px;
}

.prog-tooltip img {
	display: inline-block;
	width: 96px;
	height: 54px;
	background: #000000;
	object-fit: contain;
	margin-right: 4px;
}

.prog-tooltip img:last-child {
	margin-right: 0px;
}