php_value upload_max_filesize 120M
php_value post_max_size 128M

<IfModule mod_expires.c>
	<FilesMatch "\.(jpe?g|png|gif|webp|mp4|bmp)$">
		ExpiresActive On
		ExpiresDefault "access plus 23 hours"
		Header set Cache-Control "max-age=82800"
	</FilesMatch>
	<FilesMatch "\.(html?)$">
		ExpiresActive On
		ExpiresDefault "access plus 1 hours"
		Header set Cache-Control "max-age=3600"
	</FilesMatch>
</IfModule>
