[Unit]
Description=Dashboard for Kodi service
After=mediacenter.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=3
User=osmc
ExecStart=/usr/bin/env bash /var/www/dashboard/service.sh

[Install]
WantedBy=graphical.target