h3 {
	margin: 12px 0px 4px 0px;
}

#media-list,
#selected-media {
	list-style-type: none;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	margin: 0px;
	padding: 4px;
	height: 80px;
	border: solid 1px black;
}

.media-item {
	display: inline-block;
	position: relative;
	width: 128px;
	height: 72px;
	text-align: center;
	padding: 4px;
}

.media-item img {
	display: inline-block;
	width: 128px;
	height: 72px;
	background: black;
	object-fit: scale-down;
}

.media-item button {
	display: none;
	position: absolute;
	top: 6px;
	right: 6px;
	background: transparent;
	border: none;
	cursor: pointer;
	color: white;
	text-shadow: 0 0 3px black;
	font-size: 10px;
	font-weight: bold;
}

.media-item button:hover {
	color: red;
	text-shadow: 0 0 1px white;
}

.media-item:hover button {
	display: block;
}

.media-item input.duration {
	display: block;
	position: absolute;
	bottom: 4px;
	left: 4px;
	right: 4px;
	width: 128px;
	padding: 6px;
	box-sizing: border-box;

	-moz-appearance: textfield;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
	border: none;
	color: white;
	text-align: center;
	text-shadow: 0 0 3px black;
	font-size: 10px;
	font-weight: bold;
	cursor: text;
	transition: 0.2s;
}

.media-item input.duration:hover,
.media-item input.duration:focus {
	outline: none;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#drop-location {
	display: inline-block;
	width: 8px;
	height: 72px;
	background-color: blue;
	margin-top: 4px;
	margin-right: 2px;
	margin-left: 2px;
}

#loading {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(255,255,255,0.8);
	color: black;
	text-align: center;
	padding-top: 48px;
}