#media-list, #selected-media {
	list-style-type: none;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	margin: 0px;
	padding: 4px;
	height: 80px;
	border: solid 1px black;
}

.media-item {
	display: inline-block;
	width: 128px;
	height: 72px;
	text-align: center;
	padding: 4px;
}

.media-item img {
	display: inline-block;
	width: 128px;
	height: 72px;
	background: black;
	object-fit: scale-down;
}

#drop-location {
	display: inline-block;
	width: 8px;
	height: 72px;
	background-color: blue;
	margin-top: 4px;
	margin-right: 2px;
	margin-left: 2px;
}

#loading {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(255,255,255,0.8);
	color: black;
	text-align: center;
	padding-top: 48px;
}